PORT=5000
MONGODB_URI=mongodb://localhost:27017/ara-by-shanaya
JWT_SECRET=ara_super_secret_key_change_in_production
ADMIN_EMAIL=admin@arabyshanaya.com
ADMIN_PASSWORD=Admin@1234
FRONTEND_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
